<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MultirotorQnA</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <ul class="nav nav-pills col-xs-offset-7">
      <li><a href="/">Home</a></li>
      <li><a href="<%= post_path(@conn, :list) %>">Questions</a></li>
      <li><a href="/sessions/new">Login</a></li>
      <li><a href="<%= user_path(@conn, :add) %>">Sign Up</a></li>
    </ul>
                          
    <div class="container">
      <header class="header">
        <span class="logo"></span>
        <%= if @conn.cookies["current_user"] do %>
          <span>
            hello, <%= @conn.cookies["current_user"] %>
          </span>
        <% end %>
      </header>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
