<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MultirotorQnA</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <ul class="nav nav-pills">
        <li><a href="/">Home</a></li>
        <li><a href="<%= post_path(@conn, :list) %>">Questions</a></li>
        <%= if Plug.Conn.get_session(@conn, :current_user) do %>
            <li><a href="/user">Profile</a></li>
            <li><a href="">Logout</a></li>
        <% else %>                  
          <li><a href="/sessions/new">Login</a></li>
          <li><a href="<%= user_path(@conn, :add) %>">Sign Up</a></li>
        <% end %>
    </ul>
    </div>
                              
    <div class="container">
      <header class="header">
        <span class="logo"></span>
      </header>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
