<div class="jumbotron">
  <h2>MultirotorQnA</h2>
  <p class="lead">Ask and you will receive.<br/>This is a drone QnA forum where as a community we can ask and answer each others questions.</p>
</div>

<div class="list-group">
  <%= for p <- @posts do %>
    <%= render MultirotorWeb.SharedView, "summary.html", post: p, conn: @conn %>
  <% end %>
</div>

